:root
{
    --main-color:#000;
    --sec-color:rgba(239, 171, 0, 0.576);
    --light-color:#F6F6F6;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family: 'DM Sans', sans-serif;
    --rating-color:#ffc908;
}


.login,
.register {
    border-bottom: 2px solid;
    cursor: pointer;
    font-weight: 700;
    line-height: 3.4375rem;
    text-transform: uppercase;
}

.bg-light-color {
    background-color: var(--light-color);
}

.bg-sec-color {
    background-color: var(--sec-color);
}

.icon-pass {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20%;
    position: absolute;
}

.star {
    color: red;

    margin: 5px 0 0 5px;
}
.af-be::before,
.af-be::after {
    content: '';
    position: absolute;
    width: calc(50% - 50px); /* Automatically adjust width based on parent size */
    height: 0.5px;
    top: 50%;
    background-color: rgba(47, 46, 46, 0.747);
    padding:0,2px ;
}

.af-be::before {
    left: 5.5%;
    transform: translateY(-50%);
}

.af-be::after {
    right: 5.5%;
    transform: translateY(-50%);
}

.af-be p {
    text-transform: lowercase;
}

.login-btn {
    background-color: black;
}

.register-btn {
    background-color: var(--sec-color);
}

.login-btn:hover {

    background-color: var(--sec-color);
}

.register-btn:hover {

    background-color: var(--main-color);
}
.navbar-collapse{
    flex-grow: 0 !important;

}
.sec-color{
    color: var(--sec-color) !important;
}

.bg-sec-color{
    background-color: var(--sec-color);
}
.end-ul li {
    padding-left: 20px;
    font-size: larger;
}
.end-ul a{
font-weight: 600;
line-height: 1.5rem;
Font-size: 16px;
}
.main-font{
    font-size: 1.25rem; 
    line-height: 1.875rem;
}
.maim-color{
    color: var(--main-color);
}
.bg-light-color{
    background-color: var(--light-color) !important;
}
a:hover,li:hover{
    color: var(--sec-color) ;
    text-decoration: none;
}
.bg-yellow{
    background-color: var(--sec-color);
}
.translate-middle {
   
    transform: translate(-50%,-50%)!important;
}
.cart-btn {
    font-size: .6rem;
}