:root
{
    --main-color:#000;
    --sec-color:rgba(239, 171, 0, 0.576);
    --light-color:#F6F6F6;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family: 'DM Sans', sans-serif;
    --rating-color:#ffc908;
}







  .product .image:hover img {
    border-radius: 5px;
     filter: blur(5px);
     transform: scale(1.2);
   
 
 }
 .product .layer{
    border-radius: 5px;
    overflow: hidden;
     inset: 0;
     position: absolute;
    opacity: 0;
    transition: 0.5s;
 }
 .image{
    overflow: hidden;
}
.product img{
    transition: all .5s .2s;
    border-radius: 5px;
  
}
.product .image:hover .layer{
    opacity:1 ;
  

}
